@model DataLayer.Employee

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_EmployeeUserLayout.cshtml";
}

<h2>Employee</h2>

@{
    if (ViewBag.votechek==1)
    {
        <div>
            <h1>shawon</h1>
        </div>
    }
    else
    {
        <div>
            <h1>None</h1>
        </div>
    }
}

